@font-face { 
  font-family: "Arial"; 
  src: local("Arial Nova");
  font-weight: 400;
}
@font-face { 
  font-family: "Arial"; 
  src: local("Arial Nova Italic");
  font-weight: 400;
  font-style: italic;
}
@font-face { 
  font-family: "Arial"; 
  src: local("Arial Nova Bold");
  font-weight: 700 900;
}
@font-face { 
  font-family: "Arial"; 
  src: local("Arial Nova Bold Italic");
  font-weight: 700;
  font-style: italic;
}
